# COGS 108 - Data Checkpoint

# Names

- Nilou Shahbandi
- Leonardo Gonzalez
- Brian Chen
- Tin-Trung Pham
- Zhongkang(ken) Fang

<a id='research_question'></a>
# Research Question

*How do different pollutants in California impact the rate of cancer in individuals, and how does pollutants affect rate of Asthma?*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name: Current Asthma by State, 2018
- Link to the dataset: https://www.lung.org/research/trends-in-lung-disease/asthma-trends-brief/data-tables/asthma-current-state
- Number of observations: 32

 National child asthma prevalence is based on data from 31 states and Washington, D.C. 
 Child asthma data is from 2018 unless an earlier year is noted, in which case that is the most recent year of data available.  If a state has not collected child asthma data since 2011, no rate is listed.
 
 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.
- This dataset is by state, maybe we can combine with the AQI by state to do a comparison with Asthmas by state vs Pollution by state

# Setup

In [2]:
## YOUR CODE HERE
import pandas as pd 
import numpy as np

In [3]:
# Ashthma by states: https://www.lung.org/research/trends-in-lung-disease/asthma-trends-brief/data-tables/asthma-current-state
asthma = pd.read_csv('data/Asthma.csv')

asthma.head()

        State ChildCount Percent    Year AdultCount Percent.1
0     Alabama    141,500  13.20%  2014.0    394,600    10.50%
1      Alaska        ---     ---     NaN     50,700     9.20%
2     Arizona    129,200   8.10%  2016.0    545,100    10.00%
3    Arkansas        ---     ---     NaN    225,900     9.80%
4  California    542,700   6.20%     NaN  2,607,600     8.50%

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name: annual_aqi_by_county_2010
- Link to the dataset:https://aqs.epa.gov/aqsweb/airdata/download_files.html
- Number of observations: 999

### Description:
- data contains AQI, calculated each day for each monitor for the Criteria Gases and PM10 and PM2.5 (FRM and non FRM).
- of Days CO, NO2, Ozone, SO2, PM2.5, PM10 where the daily monitor criteria were met.


### If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.
- Since the data comes by counties within states we can extract the counties for all california and merge with our county_cancer data.
- We can also take the mean of all counties for each state and combine with the asthma data by states.

In [4]:
aqi = pd.read_csv('data/annual_aqi_by_county_2010.csv')
#aqi.columns = aqi.columns.str.replace(' ', '')
aqi.columns = aqi.columns.str.lower()
aqi.head()

,state,county,year,days with aqi,good days,moderate days,unhealthy for sensitive groups days,unhealthy days,very unhealthy days,hazardous days,max aqi,90th percentile aqi,median aqi,days co,days no2,days ozone,days so2,days pm2.5,days pm10
0,Alabama,Baldwin,2010,274,188,80,6,0,0,0,150,71,43,0,0,192,0,82,0
1,Alabama,Clay,2010,113,79,34,0,0,0,0,86,60,42,0,0,0,0,113,0
2,Alabama,Colbert,2010,355,208,146,1,0,0,0,105,67,47,0,0,114,0,241,0
3,Alabama,DeKalb,2010,358,248,106,4,0,0,0,101,74,43,0,0,303,0,55,0
4,Alabama,Elmore,2010,241,181,55,5,0,0,0,112,71,43,0,0,241,0,0,0

*Fill in your dataset information here*

(Copy this information for each dataset)

- Dataset Name: Lung and Bronchus Cancer Incidence in California
- Link to the dataset: [California Cancer Registry](https://explorer.ccrcal.org/application.html?site=47&data_type=1&graph_type=13&compareBy=sex&chk_sex_1=1&race=1&age_range=9&hdn_stage=101&year=4&advopt_precision=4&advopt_display=2#tableWrap)
- Number of observations: 9306

This data shows us the counts of lung or bronchus cancer in individuals of all races and sexes by county in California. It also includes breakdowns by age with additional statistics regarding the data.

We plan to use this data in combination with the pollution data to track the impact of pollution on lung or bronchus cancer indcidents in individuals living in California. By comparing changes in pollution with changes in cancer incident counts.

In [63]:
county_cancer = pd.read_csv('data/countyCancer.csv')
county_cancer.head()

,Year,Sex,Race/Ethnicity,Age,California Region,Stage at Diagnosis,"Age-adjusted Rate per 100,000",Age-adjusted Rate Standard Error,Age-adjusted Rate Lower Confidence Interval,Age-adjusted Rate Upper Confidence Interval,Count
0,2010,Both Sexes,All Races,All Ages,Alameda County,All Stages,44.8118,1.8013,41.3504,48.4812,646
1,2010,Both Sexes,All Races,All Ages,Butte County,All Stages,63.0616,4.9021,53.8195,73.5358,171
2,2010,Both Sexes,All Races,All Ages,Contra Costa County,All Stages,50.2429,2.2114,46.0016,54.7691,536
3,2010,Both Sexes,All Races,All Ages,El Dorado County,All Stages,54.2364,4.9899,44.8983,65.1021,124
4,2010,Both Sexes,All Races,All Ages,Fresno County,All Stages,51.7782,2.6266,46.7576,57.1687,401

# Data Cleaning

Describe your data cleaning steps here.

In [6]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

In [53]:
# data cleaning for asthma 
df.columns = df.columns.str.lower()

df = df.rename(columns={"childcount": "child", "percent": "child_percent", "adultcount": "adult",'percent.1': 'adult_percent'})

df = df.fillna(2018)
df["year"] = df["year"].astype(int)

df = df.replace(r'^/s*$',np.NaN,regex=True)
df

NameError: name 'df' is not defined

### Combined Counties:                                     AQI Median:
  - mariposa / tuolumne                             - 49/41
  - alpine / amador / calaveras                     - 35/41
  - sierra / yuba                                   - no data
  - inyo / mono                                     - 44/18
  - colusa / glenn / tehama	                        - 38/42/50
  - del norte / humboldt	                        - 12/29
  - lassen / modoc / plumas	
  - siskiyou / trinity

## AQI_2010


- Dataset Name: aqireport2010
- Link to the dataset:https://www.epa.gov/outdoor-air-quality-data/air-quality-index-report
- Number of observations: 52

### Description:
- 52 counties in California
- data contains # of days with Good/Moderate/Unhealthy AQI out of 365
- data contains AQI, calculated each day for each monitor for the Criteria Gases and PM10 and PM2.5 (FRM and non FRM).
- of Days CO, NO2, Ozone, SO2, PM2.5, PM10 where the daily monitor criteria were met.


### If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.
- Since the data comes by counties within states we can extract the counties for all california and merge with our county_cancer data.
- We can also take the mean of all counties for each state and combine with the asthma data by states.

In [55]:
# aqi_2010
# Columns: # of good days, # unhealthy days, AQI Median

aqi_2010 = pd.read_csv('data/aqireport2010.csv')
aqi_2010.drop(['# Days with AQI', 'Moderate', 'Unhealthy', 'Very Unhealthy', 'County Code',
                'Hazardous', 'AQI Maximum', '# Days CO', '# Days NO2', '# Days O3', '# Days PM2.5', '# Days PM10'  ], 
                 inplace = True, axis=1)
aqi_2010.columns = ['county', 'Good days', 'Unhealthy days', 'AQI 90th Percentile', 'AQI Median']
aqi_2010['county'] = aqi_ca['county'].apply(standardize_region)
aqi_2010.head()

      county  Good days Unhealthy days  AQI 90th Percentile  AQI Median
0    alameda        245              4                 68.0        43.0
1     amador        302             10                 64.0        35.0
2      butte        208             13                 84.0        47.0
3  calaveras        271             12                 84.0        41.0
4     colusa        322              1                 49.0        38.0

In [98]:
# county_cancer_2010
# filter year 2010
county_cancer_2010 = county_cancer[county_cancer['Year'] == 2010]
county_cancer_2010 = county_cancer_2010[county_cancer_2010['Age'] == 'All Ages']
county_cancer_2010.drop(['Sex', 'Race/Ethnicity', 'Age', 'Stage at Diagnosis', 'Age-adjusted Rate Standard Error', 'Year',
                         'Age-adjusted Rate Lower Confidence Interval', 'Age-adjusted Rate Upper Confidence Interval'], 
                 inplace = True, axis=1)
county_cancer_2010['California Region'] = county_cancer_2010['California Region'].apply(standardize_region)
county_cancer_2010.columns = ['county', 'rate per 100,000', 'count']
# drop the county with combined cancer value
# we drop them instead of taking the average because there are significant differences for the AQI values 
county_cancer_2010 = county_cancer_2010.drop(county_cancer_2010.index[39:47])


aqi_cancer_2010 = pd.merge(county_cancer_2010, aqi_2010, on='county')
aqi_cancer_2010
aqi_2010

             county  Good days Unhealthy days  AQI 90th Percentile  AQI Median
0           alameda        245              4                 68.0        43.0
1            amador        302             10                 64.0        35.0
2             butte        208             13                 84.0        47.0
3         calaveras        271             12                 84.0        41.0
4            colusa        322              1                 49.0        38.0
5      contra costa        307              8                 64.0        39.0
6         del norte        109              .                 25.5        12.0
7         el dorado        251             23                 93.0        42.0
8            fresno         99             65                130.0        70.0
9             glenn        279              .                 58.0        42.0
10         humboldt        358              .                 39.0        29.0
11         imperial        163             51                108.0        53.0
12             inyo        248             13                 93.0        44.0
13             kern         80             85                151.0        79.0
14            kings         66             65                129.0        70.0
15             lake        356              .                 44.0        35.0
16      los angeles         32             99                138.0        76.0
17           madera        215             18                 90.0        46.0
18            marin        270              4                 58.0        38.0
19         mariposa        197             23                 93.0        49.0
20        mendocino        315              .                 52.0        34.0
21           merced        149             33                101.0        55.0
22             mono        308              4                 61.0        18.0
23         monterey        336              .                 48.0        36.0
24             napa        293              1                 60.0        39.0
25           nevada        251             21                 90.0        44.0
26           orange        118              7                 80.0        56.0
27           placer        186             26                 97.0        50.0
28           plumas         85              3                 75.0        33.0
29        riverside         31             95                156.0        87.0
30       sacramento        202             20                 97.0        49.0
31       san benito        310              7                 58.0        40.0
32   san bernardino         37             80                164.0        81.0
33        san diego         89             21                 93.0        61.0
34    san francisco        249              3                 67.0        40.0
35      san joaquin        225             12                 81.0        45.0
36  san luis obispo        179             33                 97.0        51.0
37        san mateo        295              2                 56.0        35.0
38    santa barbara        281              7                 65.0        44.0
39      santa clara        259             10                 66.0        42.0
40       santa cruz        353              .                 44.0        34.0
41           shasta        279             15                 84.0        43.0
42         siskiyou        352              .                 44.0        33.0
43           solano        281              4                 64.0        39.0
44           sonoma        317              .                 53.0        32.0
45       stanislaus        166             32                102.0        53.0
46           sutter        234              3                 69.0        44.0
47           tehama        186             18                 90.0        50.0
48          trinity        122              .                 21.0         9.5
49           tulare        100             78                150.0        69.0
50         tuolumne        274              8                 80.0        41.0
51          ventura        222             14                 87.0        47.0
52             yolo        301              3                 57.0        38.0

In [50]:
# remove " county"
def standardize_region(str_in):
    
    try:
        str_in = str_in.lower()
        str_in = str_in.strip()
        output = str_in

        if 'County, CA' in str_in:
            str_in = str_in.replace('County, CA', '')
            str_in = str_in.strip()
            output = str_in
            
        if 'county' in str_in:
            str_in = str_in.replace('county', '')
            str_in = str_in.strip()
            output = str_in
            
            
    except:
        output = np.nan
        
    return output

We pulled three different datasets to work with to answer our question. First we imported Pandas and numpy to utilize for the cleanup. 

- In the pollution dataset we took out all of the extra spaces using the .strip function and turned all of the characters into lowercase using the .lower function. Since the AQI dataset was by county, we used the groupby function to group everything by states instead. We then renamed some of the column names to be more concise. 

- For the asthma dataset we repeated the same steps of taking out extra spaces and making everything lowercase as well as renaming the column names. In the description of the data it stated that unless the year was other than 2018, the year was left empty. Therefore,  we filled in the empty rows under the year column with 2018, as per the dataset description. Lastly we made sure that the values under the year column were integers. 

-